[Unit]
Description=log room environment
After=bluetooth.service influxdb.service

[Service]
User=root
ExecStart = /home/pi/log_room_env/exec.sh
ExecStop=/bin/kill ${MAINPID}
Restart=always
Type=simple

[Install]
WantedBy=default.target
